{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Paiement
{% endblock %}

{% block nav_class %}
	transparent navbar-dark navbar-bg-dark
{% endblock %}

{% block body %}
	
	<style>
        figure a img {
            height: 70px !important;
            width: 70px !important;
            object-fit: cover;
        }
	</style>
	
	<section class="wrapper bg-light">
		<div class="container pt-12 pt-md-14 pb-14 pb-md-16">
			<div class="row gx-md-8 gx-xl-12 gy-12">
				<div class="col-lg-8">
					<h3 class="mb-4">Inscription club</h3>
					<form class="needs-validation" novalidate>
						<div class="row g-3">
							<div class="col-12">
								<div class="form-floating">
									<input type="text" class="form-control" id="club_name" placeholder="Nom du club" value="" required>
									<label for="firstName" class="form-label">Nom du club</label>
									<div class="invalid-feedback"> Un nom de club est requis. </div>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="file" class="form-control" id="logo" placeholder="Logo" accept="image/jpeg, image/png, image/gif" required>
									<label for="lastName" class="form-label">Logo du club</label>
									<div class="invalid-feedback"> Un nom de famille valide est requis. </div>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="email" class="form-control" id="email" placeholder="Adresse email" required>
									<label for="email" class="form-label">Email du club</label>
									<div class="invalid-feedback"> Veuillez entrer une adresse électronique valide pour des informations sur votre livraison. </div>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="text" class="form-control" id="president_name" placeholder="Président du club" value="" required>
									<label for="firstName" class="form-label">Nom complet du président</label>
									<div class="invalid-feedback"> Le nom du président du club est requis. </div>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="text" class="form-control" id="treasurer_name" placeholder="Nom du club" value="" required>
									<label for="firstName" class="form-label">Nom complet du trésorier</label>
									<div class="invalid-feedback"> Le nom du trésorier est requis. </div>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="text" class="form-control" id="address" placeholder="Adresse" required>
									<label for="address" class="form-label">Adresse</label>
									<div class="invalid-feedback"> Veuillez entrer une adresse de livraison valide. </div>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="text" class="form-control" id="address2" placeholder="Adresse complémentaire">
									<label for="address2" class="form-label">Adresse 2 <span class="text-muted">(Facultatif)</span></label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-floating">
									<input type="text" class="form-control" id="zip" placeholder="Code postal" required>
									<label for="zip" class="form-label">Code postal</label>
									<div class="invalid-feedback"> Code postal requis. </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-floating">
									<input type="text" class="form-control" id="city" placeholder="Ville" required>
									<label for="zip" class="form-label">Ville</label>
									<div class="invalid-feedback"> Veuillez saisir une ville. </div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-select-wrapper">
									<select class="form-select" id="country" required>
										<option value="">Pays</option>
										<option>France</option>
									</select>
									<div class="invalid-feedback"> Veuillez sélectionner un pays valide. </div>
								</div>
							</div>
							<h3 class="mb-4 mt-8">Inscription des élèves</h3>
							<div class="col-12">
								<div class="form-floating">
									<a
											href="{{ path('download_csv_template') }}"
											class="btn btn-outline-secondary"
									>
										Télécharger le modèle CSV
									</a>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-floating">
									<input type="file" class="form-control" id="csv" placeholder="Fichier CSV" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
									<label for="lastName" class="form-label">Fichier CSV</label>
									<div class="invalid-feedback"> Un fichier CSV est requis. </div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-lg-4">
					<h3 class="mb-4">Résumé de la commande</h3>
					<div class="shopping-cart mb-7">
						<div class="shopping-cart-item d-flex justify-content-between mb-4">
							<div class="d-flex flex-row d-flex align-items-center">
								<figure class="rounded w-17">
									<a href="#">
										<img
												src="./assets/img/photos/sth1.jpg"
												srcset="./assets/img/photos/sth1@2x.jpg 2x"
												alt="image de l'inscription individuelle"
										/>
									</a>
								</figure>
								<div class="w-100 ms-4">
									<h3 class="post-title h6 lh-xs mb-1">
										<a href="#" class="link-dark">Inscription club
										</a>
									</h3>
									<div class="small">Licence club</div>
								</div>
							</div>
							<div class="ms-2 d-flex align-items-center">
								<p class="price fs-sm"><span class="amount">50€</span></p>
							</div>
						</div>
						{% for item in items %}
							{% if item.product is defined %}
								<div class="shopping-cart-item d-flex justify-content-between mb-4">
									<div class="d-flex flex-row d-flex align-items-center">
										<figure class="rounded w-17">
											<a href="#">
												<img
														style="height: 60px !important; width: 60px !important; object-fit: cover;"
														src="/uploads/{{ item.product.image }}"
														srcset="/uploads/{{ item.product.image }}"
														alt=""
												/>
											</a>
										</figure>
										<div class="w-100 ms-4">
											<h3 class="post-title h6 lh-xs mb-1">
												<a href="#" class="link-dark">{{ item.product.name }} ({{ item.quantity }})
												</a>
											</h3>
											<div class="small">{{ item.product.description }}</div>
										</div>
									</div>
									<div class="ms-2 d-flex align-items-center">
										<p class="price fs-sm"><span class="amount">{{ item.product.price * item.quantity }}€</span></p>
									</div>
								</div>
								{% else %}
									<div class="shopping-cart-item d-flex justify-content-between mb-4">
										<div class="d-flex flex-row d-flex align-items-center">
											<figure class="rounded w-17">
												<a href="#">
													<img
															style="height: 60px !important; width: 60px !important; object-fit: cover;"
															src="/uploads/"
															srcset="/uploads/"
															alt=""
													/>
												</a>
											</figure>
											<div class="w-100 ms-4">
												<h3 class="post-title h6 lh-xs mb-1">
													<a href="#" class="link-dark">
													</a>
												</h3>
												<div class="small"></div>
											</div>
										</div>
										<div class="ms-2 d-flex align-items-center">
											<p class="price fs-sm"><span class="amount">€</span></p>
										</div>
									</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="table-responsive">
						<table class="table table-order">
							<tbody>
{#							<tr>#}
{#								<td class="ps-0"><strong class="text-dark">Sous-total</strong></td>#}
{#								<td class="pe-0 text-end">#}
{#									<p class="price total-cart">{{ total }}€</p>#}
{#								</td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td class="ps-0"><strong class="text-dark">Remise (5 %)</strong></td>#}
{#								<td class="pe-0 text-end">#}
{#									<p class="price text-red">-0€</p>#}
{#								</td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td class="ps-0"><strong class="text-dark">Livraison</strong></td>#}
{#								<td class="pe-0 text-end">#}
{#									<p class="price">0€</p>#}
{#								</td>#}
{#							</tr>#}
							<tr>
								<td class="ps-0"><strong class="text-dark">Total</strong></td>
								<td class="pe-0 text-end">
									<p class="price text-dark fw-bold total-cart">{{ total + 50 }}€</p>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<a href="" id="checkout-button" class="btn btn-primary rounded w-100 mt-4">Payer</a>
				</div>
			</div>
		</div>
	</section>
	
	<div class="modal fade" id="validationModal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-md">
			<div class="modal-content text-center">
				<div class="modal-body">
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<h3>Veuillez remplir tous les champs requis avant de procéder au paiement.</h3>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="CSVModal" tabindex="-1" aria-labelledby="CSVModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="CSVModalLabel">Erreur de validation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h3>Le fichier CSV contient des lignes incomplètes dans les colonnes obligatoires
						(prénom, nom de famille, sexe, date de naissance).</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://js.stripe.com/v3/"></script>
	<script>
        const stripe = Stripe('{{ stripe_public_key }}');

        document.getElementById('checkout-button').addEventListener('click', function (event) {
            event.preventDefault();

            if (!validateForm()) {
                const validationModal = new bootstrap.Modal(document.getElementById('validationModal'));
                validationModal.show();
                return;
            }

            const formData = new FormData();
            formData.append('csv', document.getElementById('csv').files[0]);

            fetch('{{ path('count_members') }}', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        // Afficher la modale d'erreur
                        showErrorModal(data.error);
                    } else {
                        proceedToStripe(data.memberCount);
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                    showErrorModal('Une erreur est survenue lors de la validation du fichier CSV.');
                });
        });

        function showErrorModal(message) {
            document.querySelector('#CSVModal h3').textContent = message;
            const CSVModal = new bootstrap.Modal(document.getElementById('CSVModal'));
            CSVModal.show();
        }

        function proceedToStripe(memberCount) {
            const formData = new FormData();
            formData.append('member_count', memberCount);
            formData.append('club_name', document.getElementById('club_name').value);
            formData.append('logo', document.getElementById('logo').files[0]);
            formData.append('email', document.getElementById('email').value);
            formData.append('president_name', document.getElementById('president_name').value);
            formData.append('treasurer_name', document.getElementById('treasurer_name').value);
            formData.append('address', document.getElementById('address').value);
            formData.append('address2', document.getElementById('address2').value);
            formData.append('zip', document.getElementById('zip').value);
            formData.append('city', document.getElementById('city').value);
            formData.append('country', document.getElementById('country').value);
            formData.append('csv', document.getElementById('csv').files[0]);

            fetch('{{ path('save_order_and_session') }}', {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Si la sauvegarde a fonctionné, créer la session de paiement Stripe
                        return fetch('{{ path('create_checkout_session') }}', {
                            method: 'POST',
                            body: formData,
                        });
                    } else {
                        alert('Erreur lors de la sauvegarde de la commande.');
                    }
                })
                .then(response => response.json())
                .then(session => {
                    // Redirection vers Stripe pour le paiement
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .catch(function (error) {
                    console.error('Error:', error);
                    alert('Une erreur est survenue lors de la création de la session Stripe.');
                });
        }

        function validateForm() {
            const requiredFields = [
                'club_name',
                'logo',
                'email',
                'president_name',
                'treasurer_name',
                'address',
                'zip',
                'city',
                'country',
                'csv'
            ];

            for (let i = 0; i < requiredFields.length; i++) {
                const field = document.getElementById(requiredFields[i]);
                if (field.type === 'file' && field.files.length === 0) {
                    return false;
                } else if (field.value.trim() === '') {
                    return false;
                }
            }

            return true;
        }
	</script>

{% endblock body %}