{% extends 'base2.html.twig' %}

{% block title %}
	{{ parent() }}
	Mot de passe oublié
{% endblock %}

{% block body %}

	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-light-600 text-white" data-image-src="/assets/img/photos/bg18.png">
		<div class="container pt-17 pb-20 pt-md-19 pb-md-21 text-center">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h1 class="display-1 mb-3">Réinitialiser mon mot de passe</h1>
					<nav class="d-inline-block" aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/">Accueil</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Réinitialiser mon mot de passe</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper bg-light">
		<div class="container pb-14 pb-md-16">
			<div class="row">
				<div class="col-lg-7 col-xl-6 col-xxl-5 mx-auto mt-n20">
					<div class="card">
						<div class="card-body p-11 text-center">
							<h2 class="mb-3 text-start">Veuillez entrer votre pseudo</h2>
							<p class="lead mb-6 text-start">La réinitialisation prend moins d'une minute.</p>
							{{ form_start(form, { 'attr' : { 'class' : 'text-start mb-3' } }) }}
							<div class="form-floating mb-4">
								{{ form_widget(form.username, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Pseudo' } }) }}
								{{ form_label(form.username, 'Pseudo') }}
							</div>
							<button type="submit" class="btn btn-primary rounded-pill btn-login w-100 mb-2">Réinitialiser</button>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>{% endblock %}
