{% extends 'base2.html.twig' %}

{% block title %}
	{{ parent() }}
	S'inscrire
{% endblock %}

{% block body %}

	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-light-600 text-white" data-image-src="/assets/img/photos/bg18.png">
		<div class="container pt-17 pb-20 pt-md-19 pb-md-21 text-center">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h1 class="display-1 mb-3">S'inscrire</h1>
					<nav class="d-inline-block" aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/">Accueil</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">S'inscrire</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper bg-light">
		<div class="container pb-14 pb-md-16">
			<div class="row">
				<div class="col-lg-7 col-xl-6 col-xxl-5 mx-auto mt-n20">
					<div class="card">
						<div class="card-body p-11 text-center">
							<h2 class="mb-3 text-start">M'inscrire aux Cordeliers</h2>
							<p class="lead mb-6 text-start">L'inscription prend moins d'une minute.</p>
							{{ form_start(registrationForm, { 'attr' : { 'class' : 'text-start mb-3' } }) }}
							<div class="form-floating mb-4">
								{{ form_widget(registrationForm.username, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Pseudo' } }) }}
								{{ form_label(registrationForm.username, 'Pseudo') }}
							</div>
							<div class="form-floating mb-4">
								{{ form_widget(registrationForm.email, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Courrier électronique' } }) }}
								{{ form_label(registrationForm.email, 'Courrier électronique') }}
							</div>
							<div class="form-floating mb-4">
								{{ form_widget(registrationForm.displayName, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Nom complet' } }) }}
								{{ form_label(registrationForm.displayName, 'Nom complet') }}
							</div>
							<div class="form-floating password-field mb-4">
								{{ form_widget(registrationForm.password, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Mote de passe' } }) }}
								{{ form_label(registrationForm.password, 'Mot de passe') }}
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<input type="hidden" name="_target_path" value="/mon-profil"/>
								<span class="password-toggle">
									<i class="uil uil-eye"></i>
								</span>
							</div>
							<div class="form-floating password-field mb-4">
								{{ form_widget(registrationForm.plainPassword, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Confirmer le mot de passe' } }) }}
								{{ form_label(registrationForm.plainPassword, 'Confirmer le mot de passe') }}
								<span class="password-toggle">
									<i class="uil uil-eye"></i>
								</span>
							</div>
							<div class="form-floating mb-5">
								{{ form_widget(registrationForm.agreeTerms, { 'attr' : { 'class' : '', 'placeholder' : 'Accepter les termes', 'style' : '-webkit-appearance: auto !important;' } }) }}
								<span style="margin-left: 10px;">Accepter les termes</span>
								{# {{ form_label(registrationForm.agreeTerms, 'Accepter les termes') }} #}
							</div>
							<button type="submit" class="btn btn-primary rounded-pill btn-login w-100 mb-2">M'inscrire</button>
							{{ form_end(registrationForm) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>{% endblock %}
