<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Prise de contact - Site web Shinkyokaï</title>
</head>
<body>
	<h2>Nouveau message</h2>
	<p><strong>Prénom :</strong> {{ name }}</p>
	<p><strong>Nom de famille :</strong> {{ surname }}</p>
	<p><strong>Email :</strong> {{ email }}</p>
	<p><strong>Sujet :</strong> {{ department }}</p>
	<p><strong>Message :</strong> {{ message }}</p>
</body>
</html>
