<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WTFF559D');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="Société Napoléonienne d'Aix-en-Provence SNA Napoléon Provence">
    <meta name="author" content="Marc Lassort">
    <title>{% block title %}{% endblock %} • Société Napoléonienne d'Aix-en-Provence</title>
    <!-- OpenGraph Metadata -->
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
    <meta property="og:description" content="{% block ogdescription %}{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="https://snaix.fr/img/logoSNA.jpg" />
    <meta property="og:alt" content="Logo Société Napoléonienne d'Aix-en-Provence" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="fb:app_id" content="556374793605229" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://snaix.fr/img/logoSNA.jpg">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/plugins.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preload" href="/assets/css/fonts/thicccboi.css" as="style" onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="/assets/css/colors/red.css">
    <link rel="canonical" href="{% block canonical %}{% endblock %}" />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Société Napoléonienne d'Aix-en-Provence",
            "author": {
                "@type": "Person",
                "name": "Marc Lassort"
            },
            "contactPoint": {
                "@type": "ContactPoint",
                "email": "societenapoleonienne.aix@gmail.com",
                "contactType": "visites guidées",
                "contactOption": "TollFree"
            },
            "headline": "Visites guidées napoléoniennes, conférences, sauvegarde du patrimoine",
            "datePublished": "2024-10-14T20:00",
            "url": "https://snaix.fr",
            "logo": "https://snaix.fr/img/logoSNA.jpg",
            "startDate": "2024-11-25T19:00",
            "location": {
                "@type": "Place",
                "name": "Aix-en-Provence",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "1, Impasse des Chênes",
                    "addressLocality": "Aix-en-Provence",
                    "postalCode": "13080",
                    "addressCountry": "FR"
                }
            },
            "description": "Partez en visite guidée napoléonienne à Aix-en-Provence avec la Société Napoléonienne et découvrez le patrimoine historique du Pays d'Aix.",
            "image": "https://snaix.fr/img/logoSNA.jpg",
            "keywords": "Napoléon, Aix-en-Provence, Pays d'Aix, visites guidées, conférences, patrimoine, Premier Empire"
        }
    </script>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTFF559D"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="content-wrapper">
    <header class="wrapper bg-gray">
        <nav class="navbar navbar-expand-lg center-nav {% block nav_class %}{% endblock %}">
            <div class="container flex-lg-row flex-nowrap align-items-center">
                <div class="navbar-brand w-100">
                    <a href="{{ path('app_home') }}">
                        <img
                                class="logo-dark"
                                src="/img/logoSNA.jpg"
                                srcset="/img/logoSNA.jpg"
                                alt="Logo de la Société Napoléonienne d'Aix-en-Provence"
                                style="width: 30%; height: 30%;"
                                width="416"
                                height="417"
                        />
                    </a>
                </div>
                <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
                    <div class="offcanvas-header d-lg-none">
                        <h2 class="fs-30 mb-0">Société Napoléonienne d'Aix-en-Provence</h2>
                        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
                        <ul class="navbar-nav">
                            <a class="nav-link" href="{{ path('app_sna') }}">La SNA</a>
                            <a class="nav-link" href="{{ path('app_blog') }}">Blog</a>
                            <a class="nav-link" href="{{ path('app_evenements') }}">Événements</a>
                            <a class="nav-link" href="{{ path('app_galerie') }}">Galerie</a>
                            <a class="nav-link" href="{{ path('app_videos') }}">Vidéos</a>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Boutique</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" href="{{ path('app_adhesion') }}">Adhésion</a>
                                        <a class="dropdown-item" href="{{ path('app_visites_guidees') }}">Visites guidées</a>
{#                                        <a class="dropdown-item" href="{{ path('app_boutique_evenements') }}">Événements</a>#}
                                        <a class="dropdown-item" href="{{ path('app_produits') }}">Produits</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="offcanvas-footer d-lg-none">
                            <div>
                                <a href="mailto:societenapoleonienne.aix@gmail.com" class="link-inverse">societenapoleonienne.aix@gmail.com</a>
                                <br />  <br />
                                <nav class="nav social social-muted mt-4">
                                    <a href="https://www.facebook.com/profile.php?id=61566774583904"><i class="uil uil-facebook-f"></i></a>
                                    <a href="https://www.instagram.com/societenapoleonienneaix/"><i class="uil uil-instagram"></i></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-other w-100 d-flex ms-auto">
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item d-none d-md-block">
                            <a href="{{ path('app_contact') }}" class="btn btn-sm btn-primary rounded-pill">Contact</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <button class="hamburger offcanvas-nav-btn"><span></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block body %}
    {% endblock %}
</div>
<footer class="bg-gray">
    <div class="container py-13 py-md-15">
        <div class="row gy-6 gy-lg-0">
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <a href="{{ path("app_home") }}">
                        <img
                                class="mb-4"
                                src="/img/logoSNAgris.jpg"
                                srcset="/img/logoSNAgris.jpg"
                                alt="Logo gris de la Société Napoléonienne d'Aix-en-Provence"
                                style="width: 50%; height: 50%;"
                                width="2560"
                                height="1568"
                        />
                    </a>
                    <p class="mb-4">© {{ year }} Société Napoléonienne d'Aix-en-Provence
                        <br class="d-none d-lg-block" />Tous droits réservés</p>
                    <nav class="nav social social-muted">
                        <a href="https://www.facebook.com/profile.php?id=61566774583904"><i class="uil uil-facebook-f"></i></a>
                        <a href="https://www.instagram.com/societenapoleonienneaix/"><i class="uil uil-instagram"></i></a>
                    </nav>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <h4 class="widget-title mb-3">Nous contacter</h4>
                    <address>1, Impasse des Chênes <br>13080 Aix-en-Provence </address>
                    <a href="mailto:societenapoleonienne.aix@gmail.com">societenapoleonienne.aix@gmail.com</a><br />
                    <a href="tel:+33786888264">07 86 88 82 64</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <h4 class="widget-title mb-3">En savoir plus</h4>
                    <ul class="list-unstyled  mb-0">
                        <li><a href="{{ path('app_blog') }}">Blog</a></li>
                        <li><a href="{{ path('app_sna') }}">La SNA</a></li>
                        <li><a href="{{ path('app_galerie') }}">Galerie</a></li>
                        <li><a href="{{ path('app_politique_de_confidentialite') }}">Politique de confidentialité</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <h4 class="widget-title mb-3">Nous suivre</h4>
                    <nav class="nav social social-muted mt-4">
                        <a href="https://www.facebook.com/profile.php?id=61566774583904"><i class="uil uil-facebook-f"></i></a>
                        <a href="https://www.instagram.com/societenapoleonienneaix/"><i class="uil uil-instagram"></i></a>
                        <a href="https://www.youtube.com/@sna-aix"><i class="uil uil-youtube"></i></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
</div>
<script src="/js/plugins.min.js"></script>
<script src="/js/theme.min.js"></script>
</body>

</html>